@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library Management System</h1>
    <input type="button" class="btn btn-info" value="Click here if you are an Administrator" onclick="location.href='@Url.Action("LibraryView", "Admin")'"  />
            <input type="button" class="btn btn-info" value="Click here if you are an User" onclick="location.href='@Url.Action("BooksForCheckout", "User")'" />
</div>

